<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>ABC courier Service</h1>
    <ul>
        {% for courier in couriers %}
        <li> {{courier.shop_name}} - {{courier.owner_name}}  - {{ courier.phone_number }} - {{ courier.mobile_number }} -  {{ courier.Eamil }} - {{ courier.address }} - {{ courier.city }} - {{ courier.state }} - {{ courier.pincode}} - {{ courier.status}}</li>
        {% endfor %}
    </ul>
</body>
</html>